body{
    background: linear-gradient(to right, #000000, #2c2c2c, #555555);
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 20px;

}
#aumenta{
    width: 5%;
    float: left;
    height: 40px;
    border: none;
    border-radius: 8px;
    margin-left: 42.5%;
    font-size: 25px;
    cursor: pointer;
    
}
#diminui{
    width: 5%;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    cursor: pointer;
}
#contador{
    float: left;
    width: 5%;
    text-align: center;
    line-height: 1.7;
    font-size: 25px;

}
h1{
    text-align: center;
    margin-top: 20%;
}