.acesa{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9s52CJ8LMmO1ZWBLHWsVQN_jbJEUgkt2qRA&s");
    width: 100%;
    height: 100%;
}
.apagada{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk10-8evbJfyXCsqmG-vSt1DeH-WjJPm-jMA&s");
    width: 100%;
    height: 100%;
    background-size: 100%;
}